<div class="container">
    <div class="listOfNames">
        <ul class="listBox">
            <li class="listBoxHeader">Greeted Names</li>
            {{#each names}}
            <li><a href="/counter/{{this.username}}">{{this.username}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>